@charset "UTF-8";
/* CSS Document */

/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}

/* GLOBAL */
body{margin:0; padding:0; background: url(../images/footer_dark_background.gif) #1e2021; color:#555; font-family:"OpenSansRegular", Arial, Helvetica, sans-serif; font-size:13px;}
div.container{margin:0 auto; position:relative; width:950px;}
a{color:#5188a9; text-decoration:none;-webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out; -ms-transition: all .2s ease-out; -o-transition: all .2s ease-out; transition: all .2s ease-out; }
a:hover{-webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out; -ms-transition: all .2s ease-out; -o-transition: all .2s ease-out; transition: all .2s ease-out;}
.hideText{display:block; text-indent:-9999em;}
div#content{min-height:500px;}

/* HEADER */
div#header{width:100%; height:49px; background:url(../images/header_background.gif); border-bottom:1px solid #303335;}
div#header h1{width:275px; height:49px; float:left;}
div#header h1 a{display:block; width:275px; height:49px; background:url(../images/kareer_discover_logo.png) no-repeat; opacity: 0.9; filter: alpha(opacity=90);}
div#header h1 a:hover{opacity: 1;}
div#header div.navigation{float:right; height:25px; margin:14px 0 0 0;}
div#header div.navigation ul li{float:right; height:25px; margin:0 0 0 30px; }
div#header div.navigation ul li.button a{display:block; padding:7px 6px 6px 6px; font-family:"OpenSansRegular", Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; color:#98a5aa; line-height:12px; background:rgba(0, 0, 0, 0.2); -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow:  0px 1px 1px 0px rgba(58, 62, 64, 1); box-shadow:  0px 1px 1px 0px rgba(58, 62, 64, 1);}
div#header div.navigation ul li.button a:hover{color:#fff; background:rgba(0, 0, 0, 0.3);}

/* LANDING CONTENT */
body.landing div.wrapper{background:url(../images/dark_blue_background.jpg) #3a4247}
body.landing div.wrapper div.image{background:url(../images/landing_background.jpg) 50% 0 no-repeat;}
body.landing div#content{padding:90px 0 100px 0}
body.landing div#content h1{ width:206px; height:132px; margin:0 auto 50px; background:url(../images/kareer_logo_stacked.png) no-repeat; text-align:center;}
body.landing div#content h2{ width:100%; height:40px; margin:0 auto 70px; font-family:"MuseoSlab700Italic", Arial, Helvetica, sans-serif; font-size:36px; color:#C6E6FC; letter-spacing:-1px; text-align:center; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);}
body.landing div#content h2 span{font-family:"MuseoSlab900Italic", Arial, Helvetica, sans-serif; font-size:36px;color:#fff;}
body.landing div#content div.landingContainer{width:642px; margin:0 auto;}
body.landing div#content div.landingContainer div.landingTitle{height:18px; margin:0 0 10px 0; background:url(../images/landing_bracket.png) 0 10px no-repeat;}
body.landing div#content div.landingContainer div.landingTitle span{display:block;font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:16px; color:#fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); text-align:center; }

body.landing div#content div.landingContainer div.landingBoxes{width:620px; margin:0 11px;}
body.landing div#content div.landingContainer div.landingBox{position:relative; width:300px; height:160px;padding:20px 0 0 0;-webkit-box-shadow:  0px 1px 1px 0px rgba(119, 119, 119, .1);box-shadow:  0px 1px 1px 0px rgba(119, 119, 119, .1);}
body.landing div#content div.landingContainer div.landingBox span.icon{position:absolute; top:0px; left:130px; display:block; width:40px; height:41px;}
body.landing div#content div.landingContainer div.landingBox div.box{width:300px; height:130px; padding:30px 0 0 0; background: rgba(34, 39, 42, .7); -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, .1);box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, .1)}
body.landing div#content div.landingContainer div.landingBox h3{display:block; margin:0 0 4px 0; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:28px; color:#fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); text-align:center; }
body.landing div#content div.landingContainer div.landingBox span.description{display:block; font-family:"OpenSansItalic", Arial, Helvetica, sans-serif; font-size:14px; color:#d7eefe; text-align:center;}
body.landing div#content div.landingContainer div.landingBox a{display:block; width:260px; height:40px; margin:15px 0 0 20px; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:18px; line-height:40px; color:#fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); text-align:center; background:url(../images/blue_button_background.gif) top left repeat-x #5392b7;  -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .1); box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .1); -webkit-transition: all 0s ease-out; -moz-transition: all 0s ease-out; -ms-transition: all 0s ease-out; -o-transition: all 0s ease-out; transition: all 0s ease-out;}
body.landing div#content div.landingContainer div.landingBox a:hover{background:url(../images/blue_button_background.gif) bottom left repeat-x #5392b7; -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .2); box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .2); -webkit-transition: all 0s ease-out; -moz-transition: all 0s ease-out; -ms-transition: all 0s ease-out; -o-transition: all 0s ease-out; transition: all 0s ease-out; }

body.landing div#content div.landingContainer div.candidateContainer {float:left;}
body.landing div#content div.landingContainer div.candidateContainer span.icon{background:url(../images/candidate_icon.png) no-repeat;}
body.landing div#content div.landingContainer div.companyContainer {float:right;}
body.landing div#content div.landingContainer div.companyContainer span.icon{background:url(../images/company_icon.png) no-repeat;}

/* CANDIDATE CONTENT */
body.candidate div.wrapper{background:url(../images/candidate_blue_background.jpg) #172c38;}
body.candidate div.wrapper div.image{background:url(../images/candidate_background.jpg) 50% 0 no-repeat;}

body.candidate div.rightColumn{width:420px; margin:30px 0 25px 530px; float:right;}
body.candidate div.rightColumn div.intro{}
body.candidate div.rightColumn div.intro span.title{display:block; margin:0 auto 5px; background:url(../images/candidate_divider.png) 0 50% no-repeat; text-align:center}
body.candidate div.rightColumn div.intro span.title span{display:block; margin:0 auto; width:90px; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:18px; color:#fff;}
body.candidate div.rightColumn div.intro span.description{display:block; margin:0 auto; font-family:"MuseoSlab700Italic", Arial, Helvetica, sans-serif; font-size:35px; color:#e3f5ff; letter-spacing:-1px; text-align:center; }
body.candidate div.rightColumn div.intro span.description span{margin:0 auto; font-family:"MuseoSlab900Italic", Arial, Helvetica, sans-serif; font-size:35px;color:#fff;}
body.candidate div.rightColumn div.intro ul {margin:15px 0 20px 5px;}
body.candidate div.rightColumn div.intro ul li{margin:0 0 8px 0; padding:0 0 0 10px; font-family:"ProximaNovaRegular", Arial, Helvetica, sans-serif; font-size:17px; color:#fff; background:url(../images/orange_bullet.gif) 0 50% no-repeat;}

body.candidate div.rightColumn div.formContainer{width:370px; padding:18px 24px 24px 24px; background:rgba(0, 0, 0, .5)}
body.candidate div.rightColumn div.formContainer span.formTitle{display:block; margin:0 0 5px 0; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:20px; color:#fff;}
body.candidate div.rightColumn div.formContainer span.agreement{display:block; margin:0 0 10px 0; font-family:"OpenSansItalic", Arial, Helvetica, sans-serif; font-size:11px; color:#ccc; text-align:center;}
body.candidate div.rightColumn div.formContainer span.agreement a{}
body.candidate div.rightColumn div.formContainer span.agreement a:hover{text-decoration:underline;}

body.candidate div.rightColumn div.formContainer input{width:348px; height:38px; border:1px solid #333; background:#fff; font-family:"OpenSansItalic", Arial, Helvetica, sans-serif; font-size:15px; color:#999; line-height:38px; margin:0; padding:0 10px; -webkit-border-radius: 3px;border-radius: 3px;}
body.candidate div.rightColumn div.formContainer input.field{-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .1); box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .1);}
body.candidate div.rightColumn div.formContainer input.field:focus{border:1px solid #111; font-family:"OpenSansRegular", Arial, Helvetica, sans-serif; font-size:15px; color:#555;}
body.candidate div.rightColumn div.formContainer input.error{border:1px solid #ff5a00; background: #fff8f8; color:#ff5a00}
body.candidate div.rightColumn div.formContainer label{color:#fff;}
body.candidate div.rightColumn div.formContainer input.button{ width:368px; height:40px; border:1px solid #b53e02; margin:5px 0 0 0; padding:0; background:url(../images/orange_button_background.gif) top left repeat-x #ff7900; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:18px; color:#fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); line-height:40px; -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .1);box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .1); cursor: pointer;}
body.candidate div.rightColumn div.formContainer input.button:hover{background:url(../images/orange_button_background.gif) bottom left repeat-x #ff9700; -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .2); box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .2);}

body.candidate div.rightColumn div.confirmation span.confirmationTitle{color:#fff;}
body.candidate div.rightColumn div.confirmation span.confirmationDescription{color:#e3f5ff;}
body.candidate div.rightColumn div.confirmation ul li a{color:#e3f5ff; }

body.candidate div.credit {position:absolute; left:0px; bottom:0px;  padding:6px; background:rgba(0, 0, 0, 0.2); -webkit-border-radius: 4px; border-radius: 4px;}
.credit-main {position:absolute; left:0px; bottom: -85px; padding:6px; background:rgba(0, 0, 0, 0.2); -webkit-border-radius: 4px; border-radius: 4px;}
.credit span.title, .credit-main span.title{margin:0 5px 0 0; font-size:11px; color:#ccc;}
.credit span.description, .credit-main span.description{font-family:"OpenSansItalic", Arial, Helvetica, sans-serif; font-size:11px; color:#aaa;}

/* COMPANY CONTENT */
body.company div#content{width:100%; background:url(../images/grey_background.gif) #f2f3f4;}

body.company div.intro{width:100%; padding:20px 0 20px 0; background:url(../images/blue_background.gif) #6da8cb; border-bottom:1px solid #6297b6;}
body.company div.intro span{text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);}
body.company div.intro span.title{display:block; width:730px; margin:0 auto 5px; background:url(../images/white_20.png) 0 50% repeat-x; text-align:center}
body.company div.intro span.title span{display:block; margin:0 auto; width:90px; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:18px; color:#fff; background:url(../images/blue_background.gif) }
body.company div.intro span.description{display:block; margin:0 auto; font-family:"MuseoSlab700Italic", Arial, Helvetica, sans-serif; font-size:36px; color:#e3f5ff; letter-spacing:-1px; text-align:center; }
body.company div.intro span.description span{ margin:0 auto; font-family:"MuseoSlab900Italic", Arial, Helvetica, sans-serif; font-size:36px;color:#fff;}

ul.button-group{margin: 10px 0;}
ul.categories li{float: left;}
ul.categories li button {
  background-color: #d7e5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
  background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
  border-top: 1px solid #abbbcc;
  border-left: 1px solid #a7b6c7;
  border-bottom: 1px solid #a1afbf;
  border-right: 1px solid #a7b6c7;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  color: #1a3e66;
  font: normal 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 6px 12px 7px;
  text-align: center;
  text-shadow: 0 1px 1px #fff; }
ul.categories li button:hover {
    background-color: #ccd9e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
    background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
    border-top: 1px solid #a1afbf;
    border-left: 1px solid #9caaba;
    border-bottom: 1px solid #96a3b3;
    border-right: 1px solid #9caaba;
    -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
    box-shadow: inset 0 1px 0 0 #f2f2f2;
    color: #163659;
    cursor: pointer; }
ul.categories li button:active {
    border: 1px solid #8c98a7;
    -webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
    box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee; }
ul.categories li button.current { background-color: #ccc; }
div#hn-graph{ height: 500px;}
body.company div.leftColumn{width:710px; margin:35px 0; float:left;}
body.company div.leftColumn h3{font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:20px; color:#555; margin:11px 0 0 10px;}
body.company div.leftColumn ul.features {margin:24px 0 0 0; float:left;}
body.company div.leftColumn ul.features li{height:81px; margin:0 0 18px 0; padding:0 0 0 85px; float:left;}
body.company div.leftColumn ul.features li span.description{width:400px; margin:18px 0 0 0; display:block; font-family:"ProximaNovaRegular", Arial, Helvetica, sans-serif; font-size:15px; color:#777; line-height:21px; padding-left:5px;}
body.company div.leftColumn ul.features li span.description span{font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:18px; color:#555;}
body.company div.leftColumn ul.features li.one{background:url(../images/company_feature_1.png) 0 0 no-repeat;}
body.company div.leftColumn ul.features li.two{background:url(../images/company_feature_2.png) 0 0 no-repeat;}
body.company div.leftColumn ul.features li.three{background:url(../images/company_feature_3.png) 0 0 no-repeat;}
body.company div.leftColumn ul.features li.four{background:url(../images/company_feature_4.png) 0 0 no-repeat;}
body.company div.leftColumn div.product{width:490px; margin:30px 0 0 0; float:left;}
body.company div.leftColumn div.product span.title{display:block; background:url(../images/black_10.png) 0 50% repeat-x; text-align:center;}
body.company div.leftColumn div.product span.title span{display:block; width:95px; margin:0 auto; padding:0 5px; font-family:"ProximaNovaRegular", Arial, Helvetica, sans-serif; font-size:13px; text-transform:uppercase; color:#777; background:url(../images/grey_background.gif); }

div.rightColumn{width:150px; margin:35px 0 35px 40px; padding:18px 24px 24px 24px; border:1px solid #CCC; background:url(../images/form_light_background.gif) #fcfcfd; float:right;}
div.rightColumn h3{display:block; margin:0 0 5px 0; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:20px; color:#555;}
div.rightColumn table#trending td{font: 11px/20px "Gotham Narrow" "Helvetica Neue", Helvetica, Arial, sans-serif; padding:10px 0 10px 15px;}
div.rightColumn table#trending td.name{font-size:13px; color:#333; padding-left:0;}
div.rightColumn table#trending td.trend{font-weight:bold; color:#2B2;}
div.rightColumn table#trending td.count{font-size:13px; font-weight:bold; color:#666;}
body.company div.rightColumn div.titleContainer{height:45px; background:url(../images/form_title_background.png) no-repeat #8a969c;}
body.company div.rightColumn div.titleContainer h3{padding:0 0 0 25px; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:20px; color:#fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); line-height:45px;}
body.company div.rightColumn div.priorityContainer{width:370px; height:40px; margin:0 auto; padding:18px 24px 18px 24px; background:url(../images/form_background.gif) #f8f9f9; border-bottom:1px solid #e0e0e1;}
body.company div.rightColumn div.priorityContainer span.priorityTitle{display:block; margin:0 0 3px 0; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:16px; color:#555; float:left;}
body.company div.rightColumn div.priorityContainer span.amount{display:block; font-family:"OpenSansItalic", Arial, Helvetica, sans-serif; font-size:13px; color:#777; text-align:right; float:right;}
body.company div.rightColumn div.priorityContainer div.slider{clear:both; width:370px; height:15px; background:url(../images/priority_background.gif) no-repeat;}
body.company div.rightColumn div.priorityContainer div.slider div.sliderFill{height:13px; width:0%; border:1px solid #6ea822; background:url(../images/priority_fill_background.gif) repeat-x #8cd133; -webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, .1); box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, .1);}
body.company div.rightColumn div.formContainer{width:370px; margin:0 auto 1px; padding:18px 24px 24px 24px; background:url(../images/form_light_background.gif) #fcfcfd;}
body.company div.rightColumn div.formContainer span.formTitle{display:block; margin:0 0 5px 0; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:20px; color:#555;}
body.company div.rightColumn div.formContainer span.agreement{display:block; margin:0 0 10px 0; font-family:"OpenSansItalic", Arial, Helvetica, sans-serif; font-size:11px; color:#777; text-align:center;}
body.company div.rightColumn div.formContainer span.agreement a{}
body.company div.rightColumn div.formContainer span.agreement a:hover{text-decoration:underline;}
body.company div.rightColumn div.formContainer input{width:348px; height:38px; border:1px solid #bbb; background:#fff; font-family:"OpenSansItalic", Arial, Helvetica, sans-serif; font-size:15px; color:#999; line-height:38px; margin:0; padding:0 10px; -webkit-border-radius: 3px;border-radius: 3px;}
body.company div.rightColumn div.formContainer input.field{-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .1); box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .1);}
body.company div.rightColumn div.formContainer input.field:focus{border:1px solid #777; font-family:"OpenSansRegular", Arial, Helvetica, sans-serif; font-size:15px; color:#555;}
body.company div.rightColumn div.formContainer input.error{border:1px solid #ff5a00; background: #fff8f8; color:#ff5a00}
body.company div.rightColumn div.formContainer input.button{ width:368px; height:40px; border:1px solid #b53e02; margin:5px 0 0 0; padding:0; background:url(../images/orange_button_background.gif) top left repeat-x #ff7900; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:18px; color:#fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); line-height:40px; -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .1);box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .1); cursor: pointer;}
body.company div.rightColumn div.formContainer input.button:hover{background:url(../images/orange_button_background.gif) bottom left repeat-x #ff9700; -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .2); box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .2);}

body.company div.rightColumn div.confirmation span.confirmationTitle{display:block; margin:0 0 5px 0; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:20px; color:#555;}
body.company div.rightColumn div.confirmation span.confirmationDescription{display:block; margin:10px 0 10px 0; font-family:"OpenSansRegular", Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#777;}
body.company div.rightColumn div.confirmation ul {margin:10px 0 0 0;}
body.company div.rightColumn div.confirmation ul li {float:left; width:185px; height:45px;}
body.company div.rightColumn div.confirmation ul li a{display:block; width:135px; height:45px; padding:0 0 0 50px; line-height:45px; }
body.company div.rightColumn div.confirmation ul li a:hover{text-decoration:underline;}
body.company div.rightColumn div.confirmation ul li.facebook a{background:url(../images/facebook_icon.png) 0 0 no-repeat;}
body.company div.rightColumn div.confirmation ul li.twitter a{background:url(../images/twitter_icon.png) 0 0 no-repeat;}

/* TEXT CONTENT */
body.text div#content{width:100%; padding:30px 0 50px 0; background:url(../images/grey_background.gif) #f2f3f4;}
body.text div.textContainer{padding:30px ;background:#fff; border:1px solid #cccccc;}
body.text div.textContainer h2{ margin:0 0 20px 0; padding:0 0 5px 0; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:24px; color:#555;border-bottom:1px solid #e5e5e5;}
body.text div.textContainer h3{margin:20px 0 5px 0; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:18px; color:#555;}
body.text div.textContainer h4{margin:10px 0 5px 0; font-family:"ProximaNovaRegular", Arial, Helvetica, sans-serif; font-size:15px; color:#555;}
body.text div.textContainer p{margin:0 0 15px 0; font-family:"OpenSansRegular", Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#777;}
body.text div.textContainer em{font-family:"OpenSansItalic", Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#777;}
body.text div.textContainer strong{font-family:"OpenSansBold", Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#777;}
body.text div.textContainer a:hover{text-decoration:underline;}
body.text div.textContainer ul li{margin:0 0 10px 10px ; color:#777;}
body.text div.contact{margin:0 auto; padding:30px ;background:#fff; border:1px solid #cccccc; width:600px;}

/* SHARED CONTENT */
div.formContainer div.inputContainer{margin:5px 0 10px 0;}
div.formContainer div.inputContainer label{margin:5px 0 10px 0;display:block; margin:0 0 5px 0;}
div.formContainer span.errorText{display:block; margin:2px 0 0 0; font-size:11px; color:#ff5a00}

div.confirmation span.confirmationTitle{display:block; margin:0 0 5px 0; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:20px; color:#555;}
div.confirmation span.confirmationDescription{display:block; margin:10px 0 10px 0; font-family:"OpenSansRegular", Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#777;}
div.confirmation ul {margin:10px 0 0 0;}
div.confirmation ul li {float:left; width:185px; height:44px;}
div.confirmation ul li a{display:block; width:135px; height:44px; padding:0 0 0 50px; line-height:45px; }
div.confirmation ul li a:hover{text-decoration:underline;}
div.confirmation ul li.facebook a{background:url(../images/facebook_icon.png) 0 0 no-repeat transparent;}
div.confirmation ul li.twitter a{background:url(../images/twitter_icon.png) 0 0 no-repeat transparent;}

div.network{width:100%; padding: 0 0 20px 0; background:url(../images/light_grey_background.gif) 0 13px repeat-x; text-align:center;}
div.network div.titleContainer{height:25px; vertical-align: middle}
div.network div.ribbon{display:inline-block; position:relative; padding:0 8px;}
div.network span.title{display:inline-block; margin:0 auto;  padding:0 15px; height:25px;font-family:"MuseoSlab700Italic", Arial, Helvetica, sans-serif; font-size:14px; color:#fff; text-align:center; line-height:25px; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); background:url(../images/blue_ribbon_background.gif) repeat-x; vertical-align: middle }
div.network div.ribbon:before {content: "";  position:absolute; left:0px; display:inline-block; margin:0; padding:0; width: 8px; height: 25px; background:url(../images/blue_ribbon_left.png) no-repeat; font-family:"MuseoSlab700Italic", Arial, Helvetica, sans-serif; font-size:14px; color:#fff; text-align:center; line-height:25px; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); }
div.network div.ribbon:after {content: ""; position:absolute; right:0px; display:inline-block; margin:0; padding:0; width: 8px; height: 25px; background:url(../images/blue_ribbon_right.png) no-repeat; font-family:"MuseoSlab700Italic", Arial, Helvetica, sans-serif; font-size:14px; color:#fff; text-align:center; line-height:25px; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); }

div.network ul.companies{margin:10px 0 0 0;}
div.network ul.companies li{float:left; width:170px; height:80px; margin:0 25px 0 0;}
div.network ul.companies li.last{margin:0;}
div.network ul.companies li a{display:block; width:170px; height:80px; -webkit-transition: all 0s ease-out; -moz-transition: all 0s ease-out; -ms-transition: all 0s ease-out; -o-transition: all 0s ease-out; transition: all 0s ease-out;  }
div.network ul.companies li a:hover{-webkit-transition: all 0s ease-out; -moz-transition: all 0s ease-out; -ms-transition: all 0s ease-out; -o-transition: all 0s ease-out; transition: all 0s ease-out;  }

div.network ul.companies li.one {background:url(../images/logo_sprite.jpg) 0 0 no-repeat;}
div.network ul.companies li.two {background:url(../images/logo_sprite.jpg) -170px 0 no-repeat;}
div.network ul.companies li.three {background:url(../images/logo_sprite.jpg) -340px 0 no-repeat;}
div.network ul.companies li.four {background:url(../images/logo_sprite.jpg) -510px 0 no-repeat;}
div.network ul.companies li.five {background:url(../images/logo_sprite.jpg) -680px 0 no-repeat;}

/* FOOTER */
div#footer{width:100%; height:130px; padding:5px 0 0 0; background:url(../images/footer_color.png) repeat-x;}
div#footer div.topFooter{width:100%; height:75px; background:url(../images/footer_background.gif) repeat-x; border-bottom:1px solid #1c1e1f}
div#footer div.topFooter div.about{float:left; width:400px; height:46px; margin:15px 0 0 0; }
div#footer div.topFooter div.about a.logo {position:absolute; display:block; width:45px; height:46px; background:url(../images/footer_logo.png) 0 0 no-repeat; opacity: 0.8; filter: alpha(opacity=80);}
div#footer div.topFooter div.about a.logo:hover {opacity: 1;}
div#footer div.topFooter div.about span.title{display:block; margin:7px 0 0 55px; font-family:"ProximaNovaSemiBold", Arial, Helvetica, sans-serif; font-size:13px; color:#d0d9dc;}
div#footer div.topFooter div.about span.description{display:block; margin:2px 0 0 55px; font-family:"OpenSansItalic", Arial, Helvetica, sans-serif; font-size:13px; color:#7e8b8f;}
div#footer div.topFooter div.links{float:right; height:25px; margin:25px 0 0 0; }
div#footer div.topFooter div.links ul li{float:left; height:25px; margin:0 0 0 25px; font-size:12px; }
div#footer div.topFooter div.links ul li a{color:#98a5aa; line-height:26px;}
div#footer div.topFooter div.links ul li a:hover{color:#fff}
div#footer div.topFooter div.links ul li.button a{display:block; padding:7px 6px 6px 6px; font-family:"OpenSansRegular", Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; color:#98a5aa; line-height:12px; background:rgba(0, 0, 0, 0.2); -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow:  0px 1px 1px 0px rgba(36, 39, 40, 1);box-shadow:  0px 1px 1px 0px rgba(36, 39, 40, 1);}
div#footer div.topFooter div.links ul li.button a:hover{color:#fff; background:rgba(0, 0, 0, 0.3);}
div#footer div.bottomFooter {background:url(../images/footer_dark_background.gif)}
div#footer div.bottomFooter div.container{text-align:center;}
div#footer div.bottomFooter ul {margin:20px 0;}
div#footer div.bottomFooter ul li{display:inline; margin:0 20px 0 0; color:#6b767a; font-size:11px; line-height:11px;}
div#footer div.bottomFooter ul li.last{margin:0}
div#footer div.bottomFooter ul li a{color:#98a5aa;}
div#footer div.bottomFooter ul li a:hover{color:#fff;}

/* CLEARFIX */
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

/* FONTS */
@font-face { font-family: 'MuseoSlab500Italic'; src: url('../fonts/museo_slab_500italic.eot'); src: url('../fonts/museo_slab_500italic.eot?#iefix') format('embedded-opentype'), url('../fonts/museo_slab_500italic.woff') format('woff'), url('../fonts/museo_slab_500italic.ttf') format('truetype'), url('../fonts/museo_slab_500italic.svg#MuseoSlab500Italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MuseoSlab700Italic'; src: url('../fonts/museo_slab_700italic.eot'); src: url('../fonts/museo_slab_700italic.eot?#iefix') format('embedded-opentype'), url('../fonts/museo_slab_700italic.woff') format('woff'), url('../fonts/museo_slab_700italic.ttf') format('truetype'), url('../fonts/museo_slab_700italic.svg#MuseoSlab700Regular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MuseoSlab900Italic'; src: url('../fonts/museo_slab_700italic.eot'); src: url('../fonts/museo_slab_700italic.eot?#iefix') format('embedded-opentype'), url('../fonts/museo_slab_700italic.woff') format('woff'), url('../fonts/museo_slab_700italic.ttf') format('truetype'), url('../fonts/museo_slab_700italic.svg#MuseoSlab700Regular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ProximaNovaRegular'; src: url('../fonts/proximanova-regular.eot'); src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular.woff') format('woff'), url('../fonts/proximanova-regular.ttf') format('truetype'), url('../fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ProximaNovaSemiBold'; src: url('../fonts/proximanova-semibold.eot'); src: url('../fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-semibold.woff') format('woff'), url('../fonts/proximanova-semibold.ttf') format('truetype'), url('../fonts/proximanova-semibold.svg#ProximaNovaLtBold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ProximaNovaBold'; src: url('../fonts/proximanova-bold.eot'); src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold.woff') format('woff'), url('../fonts/proximanova-bold.ttf') format('truetype'), url('../fonts/proximanova-bold.svg#ProximaNovaRgBold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'OpenSansRegular'; src: url('../fonts/opensans-regular.eot'); src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype'), url('../fonts/opensans-regular.svg#OpenSansRegular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'OpenSansBold'; src: url('../fonts/opensans-bold.eot'); src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype'), url('../fonts/opensans-bold.svg#OpenSansBold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'OpenSansItalic'; src: url('../fonts/opensans-italic.eot'); src: url('../fonts/opensans-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-italic.woff') format('woff'), url('../fonts/opensans-italic.ttf') format('truetype'), url('../fonts/opensans-italic.svg#OpenSansItalic') format('svg'); font-weight: normal; font-style: normal; }

/* Start Validity Styles */
/*
 * Style used by the label output mode.
 * Applied to the error labels that get positioned after an input.
 */
label.error {
    color: #FF5A00;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    text-align: left;
    display: inline-block;
    margin-left: 0;
    padding: 2px 0;
}

label.team-error{
    left: -110px;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    text-align: left !important;
    top: -28px;
    width: 0;
}

label.buzz-error{
	display: block;
	height: 0;
	width:250px;
    left: 280px;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    text-align: right!important;
}

/*
 * Styles used by the modal output mode.
 * '.validity-modal-msg' is applied to the modal boxes
 * and '.validity-modal-msg:hover' is applied to suggest
 * to the user that the boxes are clickable.
 */
.validity-modal-msg {
    position:absolute;
    z-index:2;
    background-color: #ebd8d8;
    border: 1px solid #7c0f0f;
    padding:4px;
    cursor:pointer;
    color: #7c0f0f;
}
.validity-modal-msg:hover {
    background-color: #e0c5c5;
}

/*
 * Styles used by the summary output mode.
 * '.validity-summary-container' is a container on the page that should contain a UL
 * which is the actual summary. The container can hold
 * an extra bit of text (or anything really) that explains what the summary is.
 * '.validity-erroneous' is applied to every input that fails.
 */
.validity-summary-container { display:none; }
.validity-summary-output ul { }
.validity-erroneous { border:solid 2px #f56600 !important; }
.validity-tooltip {
    z-index: 10500;
    cursor:pointer;
    padding:3px;
    width:16em;
    border-style:none;
    color:#ff5a00;
    font: 12px "OpenSansItalic";
    position: absolute;
    width:350px;
    text-align:right;
}
.validity-tooltip:hover {
    border-color:#333;
}
.validity-tooltip .validity-tooltip-outer, .validity-tooltip .validity-tooltip-inner {
    position: absolute;
    width:0;
    height:0;
    border-right-width: 0;
    background:none;
    bottom:auto;
}
.validity-tooltip .validity-tooltip-outer {
    border-color:#333;
    border-style:solid;

    border-top: 0px solid transparent;
    border-bottom: 24px solid transparent;

    border-right-width:20px;
    border-right-style:solid;
    border-right-color:inherit;

    border-left-width:0px;
    top:-1px;
    left:-21px;
    display: none;
}
.validity-tooltip .validity-tooltip-inner {
    border-top: 0px solid transparent;
    border-bottom: 24px solid transparent;
    border-right: 20px solid #f56600;
    border-left-width:0px;
    top:1px;
    left:3px;
}
/* End Validity Styles */

.dropup,.dropdown {
    position:relative
}
.dropdown-toggle {
    *margin-bottom:-3px
}
.dropdown-toggle:active,.open .dropdown-toggle {
    outline:0
}
.caret {
    display:inline-block;
    width:0;
    height:0;
    vertical-align:top;
    border-top:4px solid #000;
    border-right:4px solid transparent;
    border-left:4px solid transparent;
    content:"";
    opacity:.3;
    filter:alpha(opacity=30)
}
.dropdown .caret {
    margin-top:8px;
    margin-left:2px
}
.dropdown:hover .caret,.open .caret {
    opacity:1;
    filter:alpha(opacity=100)
}
.dropdown-menu {
    position:absolute;
    top:100%;
    left:0;
    z-index:1000;
    display:none;
    float:left;
    min-width:160px;
    padding:4px 0;
    margin:1px 0 0;
    list-style:none;
    background-color:#fff;
    border:1px solid #ccc;
    border:1px solid rgba(0,0,0,.2);
    *border-right-width:2px;
    *border-bottom-width:2px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow:0 5px 10px rgba(0,0,0,.2);
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box
}
.dropdown-menu.pull-right {
    right:0;
    left:auto
}
.dropdown-menu .divider {
    *width:100%;
    height:1px;
    margin:8px 1px;
    *margin:-5px 0 5px;
    overflow:hidden;
    background-color:#e5e5e5;
    border-bottom:1px solid #fff
}
.dropdown-menu a {
    display:block;
    padding:3px 15px;
    clear:both;
    font-weight:400;
    line-height:18px;
    color:#333;
    white-space:nowrap
}
.dropdown-menu li>a:hover,.dropdown-menu .active>a,.dropdown-menu .active>a:hover {
    color:#fff;
    text-decoration:none;
    background-color:#FF8B2D
}
.open {
    *z-index:1000
}
.open>.dropdown-menu {
    display:block
}
.pull-right>.dropdown-menu {
    right:0;
    left:auto
}
.dropup .caret,.navbar-fixed-bottom .dropdown .caret {
    border-top:0;
    border-bottom:4px solid #000;
    content:"\\2191"
}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu {
    top:auto;
    bottom:100%;
    margin-bottom:1px
}
.typeahead {
    margin-top:2px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}

